.Main-Container.Two{
  text-align: justify;
  line-height: 2;
}

.Main-Container.two.header{
  display: flex;
}

.Summary{
  font-size: 0.8em;
}

.Main-Container.Three h2{
  text-shadow: black 2px 2px;
}

.Main-Container.Three img{
  margin: 0 auto;
  margin-bottom: 1.5em;
  border-radius: 75%;
  border: 5px solid var(--yellow-pantone);
  box-shadow: rgba(18, 15, 1, 0.3) 0px 0px 0px 3px;
  max-height: 200px;
}

.Main-Container.Three p{
text-align: justify;
padding: 0.8em 0.5em;
line-height: 2;
font-family: 'Fjalla One', sans-serif;
}


