.Main-Container.Two img{
    border: 3px solid black;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.Main-Top-Header{
    margin-bottom: 2em;
}

.Main-Text{
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 3em;
}

.Character-Card{
    max-width: 200px;
    text-align: center;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .Main-Container.Three h2{
    color: var( --yellow-pantone);
    text-shadow: black 1px 1px;
    padding: 10px 0;
  }
  .Main-Container.Three h1{
    color:  var(--catawba);
    padding: 10px 0;
  }

  .zoom:hover{
    opacity: 1.5;
    padding: 1em;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  @media (max-width:1090px) {
    .Main-Text{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 3em;
    }
  }